.welcome {
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    margin-top: 100px;
}

.sign-out-btn {
    display: block;
    margin: 40px auto;
    background-color: transparent;
    padding: 12px 20px;
    border-radius: 20px;
    border: 2px solid whitesmoke;
    color: white;
    cursor: pointer;
}
.sign-out-btn:hover {
    background-color: whitesmoke;
    color: black;
    font-weight: 600;
    transform: scale(1.1);
    transition-duration: 0.25s;
}

body {margin: 0;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #308d50;}

ul.topnav li.right {float: right;}

.home-li {float: right}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  .home-li {float: none}
  ul.topnav li {float: none;}
}
.home-top-cols{
  width: 50%;
}

.home-count1{
  float:left; 
  margin-left: 10px;
  font-family: sans-serif;
  
}

.home-count2{
  float:left; 
  margin-left: 50px;
  font-family: sans-serif;
}

.home-count3{
  float:left; 
  margin-left: 50px;
  font-family: sans-serif;
}

.home-countnumber{
  font-size: 30px;
}
.home-row{
  display: flex;
  flex-direction: row;
}
.home-countname{
  color: #308d50;
}
.home-search-input{
  padding: 20px;
  width: 100vh;
  
}
.home-profile{
  width: 10%;
}
.home-list-group{
  width: 80%;
}
.home-list{
  margin-left: auto;
  margin-right: auto;
  margin-top:10px;
  margin-bottom:10px;
  width: 80%;
  background-color: #308d50;
  color: black;
}