.post-card{
    padding-top: 1px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}
.post-date{
    float: right;
    margin-right: 20px;
}
.post-by{
    float: right;
}
.post-replies{
    float: left;
}