.body-componant {
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-bottom: 2px solid black;
  font-weight: 200;
  padding: 5px;
  margin: 5px;
  color: black;
}
form {
  text-align: center;
  padding: 2rem;
  margin: 6rem;
  background-color: #0b4018;
  border-radius: 20px;
}
::placeholder {
  color: black;
  opacity: 1;
}
input {
  padding: 10px;
  margin: 1rem;
  background-color: #0b4018;
  box-sizing: border-box;
  color: black;
  border-radius: 5px;
  border: 2px solid black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
.fullwidth {
  width: 90%;
}
input:focus {
  border: 3px solid black;
}
button {
  width: 70%;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  background-color: black;
  color: #0b4018;
  padding: 10px;
  margin: 10px;
}
button:hover {
  font-weight: bold;
  box-shadow: 2px 2px 8px black;
  transition-duration: 0.25s;
  transform: scale(1.1);
}
