.reply-post-container {
  padding: 0px 10px;
  display: block;
  width: 90vw;
  margin: auto;
  word-break: break-word;
  white-space: pre-wrap;
}
.reply-post-title {
  font-size: 2.5em;
  font-weight: 400;
  color: whitesmoke;
  margin: 20px 0px;
}
.reply-post-det {
  display: flex;
  flex: start;
  align-items: center;
  gap: 20px;
  font-size: 1.1em;
  font-weight: 600;
  color: rgb(200, 200, 200);
}
.reply-post-icon {
  margin-right: 5px;
  padding-top: 5px;
  color: #308d51;
}
.reply-send-icon {
  margin-right: 5px;
  padding-top: 5px;
  position: relative;
  top: 1px;
  transform: scale(1.2);
}
.reply-post-user-link {
  text-decoration: none;
  color: rgb(200, 200, 200);
}
.reply-post-desc {
  margin-top: 30px;
  word-wrap: break-word;
  color: whitesmoke;
}
.reply-post-code {
  white-space: pre;
  background-color: rgb(50, 50, 50);
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier,
    monospace;
  padding: 20px;
  margin: 30px 0px 10px 0px;
  border-radius: 20px;
  line-height: 30px;
  width: 60%;
  overflow-x: scroll;
}
.reply-count {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0px;
  height: 80px;
  color: whitesmoke;
}
.reply-count-val {
  font-size: 5em;
  color: #308d51;
}
.your-reply {
  font-size: 2em;
  font-weight: 200;
}
.reply-desc-inp {
  width: 750px;
  background: transparent;
  border: 2px solid rgb(70, 70, 70);
  padding: 12px 16px;
  font-size: 1rem;
  color: whitesmoke;
  border-radius: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.reply-desc-inp:focus {
  outline: none;
  border: 2px solid #308d50;
  transition-duration: 00.25s;
}

.reply-code-inp {
  width: 750px;
  background: transparent;
  border: 2px solid rgb(70, 70, 70);
  padding: 12px 16px;
  font-size: 1rem;
  color: whitesmoke;
  border-radius: 5px;
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier,
  monospace;
  margin: 10px 0px;
  line-height: 30px;
}
.reply-code-inp:focus {
  outline: none;
  border: 2px solid #308d50;
  transition-duration: 00.25s;
}
.reply-send, .go-to-send {
  background-color: #308d50;
  width: 100px;
  padding: 8px 12px;
  font-size: 0.9rem;
  border-radius: 20px;
  color: whitesmoke;
  cursor: pointer;
  margin-bottom: 20px;
}
.go-to-send  {
  margin: 10px 0px;
  padding: 5px 10px 10px 10px;
}
.reply-send:hover, .go-to-send:hover {
  transform: scale(1.1);
  transition-duration: 00.5s;
}

@media (max-width: 768px) {
  .reply-desc-inp {
    width: 90%;
  }
  .reply-code-inp {
    width: 90%;
  }
  .reply-post-container {
    width: 94vw;
  }
  .reply-post-code {
    width: 85vw;
    margin: 20px auto;
  }
  .reply-post-det {
    margin-top: 0px;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 0px;
  }
  .go-to-send {
    margin-top: 20px;
    font-size: 0.9em;
  }
}

