::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: black;
  }
  
  ::-webkit-scrollbar-thumb {
    background: darkgray;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


  .btn {
    background-color: transparent;
    border: 2px solid darkgray;
    color: darkgrey;
    padding: 12px 36px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 40px;
    cursor: pointer;
    margin: 40px;
  }
  .btn:hover {
    background-color: darkgrey;
    color: #0b4018;;
    transform: scale(1.1);
    transition-duration: 0.25s;
  }